.clam-animation {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    &:hover {
        .clam-animation-shell {
            top: 60px;
            transition: top 1s;
        }
    }

    .clam-animation-shell {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 79px;
        transition: top 1s;

    }

    img {
        display: block;
    }
}