@import '../../scss/colors.scss';

.modal {
    position: fixed;
    z-index: 999;
    padding-top: 8%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $black1;
}

.modal-content {
    background-color: $blue3;
    margin: auto;
    width: 40%;

    .modal-header {
        background: $blue4;
        height: 30px;
        padding: 5px 10px;

        p {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 500;
            color: $white;
            line-height: 30px;

            &:nth-child(1) {
                float: left;
            }

            &:nth-child(2) {
                cursor: pointer;
                float: right;
            }
        }
    }

    .content {
        height: 100px;
        padding: 30px 15px;
        color: $blue5;
    }
}