$black1: rgba(0, 0, 0, 0.4);

$blue1: #0A1A33;
$blue2: #5DA5ED;

$blue3: #2D4560;
$blue4:#113352;
$blue5: #638294;
$blue6: #275E9A;
$blue7: #7D9CC6;

$green5: #4ABF07;
$grey1: #2A2C30;
$grey2: #525252;
$grey10: #939393;

$red2: #FD4239;
$red5: #CC3A33;


$transparent: transparent;

$white: #FFFFFF;